.btn-red {
  background-color: #e41b13;
  color: #fff;
  font-family: 'Conv_GothamRnd-Medium';
  font-size: 12px;
  text-transform: uppercase; }
  .btn-red:hover {
    background-color: #c12d2d;
    color: #fff; }
  .btn-red:focus {
    background-color: #e41b13;
    color: #fff; }

.btn-grey {
  background-color: #b2b2b2;
  color: #fff;
  font-family: 'Conv_GothamRnd-Medium';
  font-size: 12px;
  text-transform: uppercase; }
  .btn-grey:hover {
    background-color: #a1a1a1;
    color: #fff; }
  .btn-grey:focus {
    background-color: #b2b2b2;
    color: #fff; }

.btn-reds {
  background: url('../img/bg.btn-hightlight.png') no-repeat left;
  color: #fff;
  font-family: 'Conv_GothamRnd-Bold';
  font-size: 12px;
  text-transform: uppercase;
  line-height: 25px;
  height: 45px;
  width: 200px;
  margin-left: -11px;
  text-align: center; }
  .btn-reds:hover {
    background: url('../img/bg.btn-hightlight.png') no-repeat left;
    color: #fff; }

.read-more {
  font-family: 'Conv_GothamRnd-Book';
  font-size: 12px;
  line-height: 39px;
  color: #585858;
  text-decoration: none;
  padding: 5px 30px 5px 0;
  text-transform: uppercase;
  background: url('../img/arrow-link.png') no-repeat right; }
  .read-more:hover, .read-more:focus {
    text-decoration: none;
    color: #e41b13; }
