#header {
  width: 100%;
  height: 130px;
  min-height: 110px;
  position: relative;
  display: block;
  transition: height 0.4s ease;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  background: url('../../img/bg.mainmenu.png') center bottom no-repeat;
  z-index: 1; }
  #header.shrink {
    position: fixed;
    background: #fff;
    height: 70px;
    z-index: 9999;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); }
  #header:before {
    background: url('../../img/bg-header.png') repeat-x;
    z-index: -1; }

.block-top {
  padding: 0;
  border-bottom: 1px solid #e5e5e5; }
  .block-top .language {
    float: left;
    margin-left: 210px;
    margin-top: 12px;
    width: 100px;
    display: inline-block; }
    .block-top .language .dropdown-menu > li > a {
      padding: 3px 10px;
      font-size: 10px;
      font-family: 'Conv_GothamRnd-Bold';
      text-transform: uppercase; }
    .block-top .language .drop-top {
      background: url('../../img/arrow-dropdown-desktop.png') no-repeat right 10px #fff; }
      .block-top .language .drop-top:hover, .block-top .language .drop-top:focus {
        background: url('../../img/arrow-dropdown-desktop.png') no-repeat right 10px #fff; }
    .block-top .language .btn {
      padding: 6px 10px;
      font-size: 10px;
      font-family: 'Conv_GothamRnd-Bold';
      color: #000;
      text-transform: uppercase;
      border: none; }
  .block-top .nav-top {
    position: relative;
    display: block;
    width: 100%; }
    .block-top .nav-top ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .block-top .nav-top ul li {
        float: left;
        display: inline-block;
        padding: 0 20px 0 0; }
        .block-top .nav-top ul li a {
          font-size: 10px;
          text-decoration: none;
          line-height: 50px;
          height: 50px;
          margin-bottom: -1px;
          display: block;
          color: #999999;
          text-transform: uppercase;
          font-family: 'Conv_GothamRnd-Bold'; }
          .block-top .nav-top ul li a:hover, .block-top .nav-top ul li a.active {
            color: #e41b13;
            background: url('../../img/nav.top.hov.png') no-repeat bottom center; }

.box-search {
  position: relative;
  margin: 12px 25px 5px 0 !important;
  width: 240px; }
  .box-search .form-control {
    margin: 0px;
    background: url('../../img/icon-search.png') no-repeat 215px 6px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 0;
    text-transform: uppercase; }
  .box-search input {
    height: 25px;
    font-size: 9px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #e5e5e5;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 0;
    color: #585858;
    background: #fff;
    padding: 0 25px 0 15px;
    width: 100%; }
    .box-search input:focus {
      border-color: #e5e5e5; }
  .box-search button {
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 12px;
    text-indent: -9999px;
    background: none;
    border: none; }

.suggest-box {
  position: absolute;
  background-color: #fff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: -5px 20px 0 10px;
  padding: 15px;
  width: 220px;
  z-index: 50;
  height: 225px;
  overflow: auto;
  right: 30px;
  top: 42px; }
  .suggest-box ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important; }
    .suggest-box ul li {
      float: left;
      width: 100%;
      display: block;
      font-family: 'Conv_GothamRnd-Light';
      font-size: 12px !important;
      line-height: 20px !important;
      margin-bottom: 5px !important;
      text-align: left;
      border: none !important;
      padding: 0 !important; }
      .suggest-box ul li a {
        text-decoration: none;
        color: #585858;
        font-family: 'Conv_GothamRnd-Light' !important;
        text-transform: none !important; }
        .suggest-box ul li a:hover {
          color: #e41b13; }

.block-nav {
  position: relative;
  display: block;
  padding-top: 20px;
  min-height: 100px; }
  .block-nav .collapse-menu {
    display: none; }
  .block-nav .suggest-box {
    right: 0px;
    margin: -5px 10px 0 10px;
    top: 35px; }
  .block-nav .box-search {
    position: relative;
    margin: 5px 0 5px 0 !important;
    width: 240px; }
    .block-nav .box-search .form-control {
      margin: 0px;
      background: url('../../img/icon-search.png') no-repeat 215px 6px;
      behavior: url(PIE.htc);
      position: relative;
      z-index: 0; }
    .block-nav .box-search input {
      height: 25px;
      font-size: 9px;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border: 1px solid #e5e5e5;
      behavior: url(PIE.htc);
      position: relative;
      z-index: 0;
      color: #585858;
      background: #fff;
      padding: 0 25px 0 15px;
      width: 100%;
      text-transform: uppercase; }
    .block-nav .box-search button {
      cursor: pointer;
      height: 12px;
      position: absolute;
      right: 10px;
      top: 7px;
      width: 12px;
      text-indent: -9999px;
      background: none;
      border: none; }
  .block-nav .collapse-menu li {
    padding: 0; }
    .block-nav .collapse-menu li a {
      background: url(../../img/support-arrow-nav.png) no-repeat left;
      padding-left: 17px; }
  .block-nav ul {
    margin: 12px 0 0 40px;
    padding: 0;
    list-style: none; }
    .block-nav ul li {
      float: left;
      display: inline-block;
      padding: 0 17px;
      border-right: 1px solid #e5e5e5;
      font-size: 12px;
      line-height: 14px; }
      .block-nav ul li:last-child {
        border-right: none;
        padding: 0 0 0 16px; }
      .block-nav ul li:nth-last-child(2) {
        border-right: none; }
      .block-nav ul li a {
        color: #000;
        font-family: 'Conv_GothamRnd-Bold';
        text-decoration: none;
        text-transform: uppercase; }
        .block-nav ul li a:hover {
          color: #e41b13; }
    .block-nav ul .nav-shop {
      margin-top: -1px; }
      .block-nav ul .nav-shop a {
        color: #e41b13;
        font-family: 'Conv_GothamRnd-Book';
        font-size: 13px;
        text-transform: none; }
        .block-nav ul .nav-shop a i {
          margin-left: 10px; }
        .block-nav ul .nav-shop a:hover {
          color: #000; }
  .block-nav .logo {
    width: 158px;
    height: 33px;
    display: block;
    text-indent: -9999px;
    background: url('../../img/logo.png') no-repeat; }
  .block-nav .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }

#sites-page {
  margin-top: -23px;
  background: #f8f8f8; }
  #sites-page h1 {
    letter-spacing: -0.04em; }
  #sites-page .breadcrumb li + li:before {
    color: #000; }
  #sites-page .breadcrumb a {
    color: #000; }

@media screen and (max-width : 540px) {
  #header {
    height: 60px;
    min-height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999; }
    #header .container {
      padding-right: 0px; }
    #header .block-top {
      padding: 0;
      border-bottom: none;
      width: 100%; }
      #header .block-top .drop-top {
        background: url('../../img/arrow-dropdown.png') no-repeat 97% center #fff;
        padding-right: 25%;
        line-height: 100% !important; }
        #header .block-top .drop-top:hover, #header .block-top .drop-top:focus {
          background: url('../../img/arrow-dropdown.png') no-repeat 97% center #fff !important; }
      #header .block-top #box-search {
        padding-left: 0px;
        padding-right: 5px; }
      #header .block-top #nav-left {
        padding-left: 0; }
      #header .block-top #logo {
        width: 45px;
        height: 60px;
        padding-left: 0;
        padding-right: 50px; }
      #header .block-top #box-user {
        float: right;
        margin-right: -15px;
        padding-right: 0px;
        padding-left: 0px; }
      #header .block-top .icon-user, #header .block-top .icon-search {
        width: 100%;
        background: #e5e5e5;
        text-align: center;
        padding: 0 5%;
        height: 60px;
        line-height: 60px; }
        #header .block-top .icon-user img, #header .block-top .icon-search img {
          border: none;
          max-width: 50%; }
      #header .block-top .icon-search {
        padding: 0 5%;
        height: 60px;
        line-height: 60px; }
      #header .block-top .btn-default {
        border: none;
        text-transform: uppercase;
        color: #000;
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 75%;
        margin-top: 20px; }
        #header .block-top .btn-default:hover, #header .block-top .btn-default:focus {
          background: none; }
      #header .block-top .dropdown-menu > li > a {
        font-size: 70%;
        font-family: 'Conv_GothamRnd-Bold';
        text-transform: uppercase; }
      #header .block-top .navbar-toggle {
        float: left;
        background: #e41b13;
        padding: 0 5%;
        height: 60px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0px; }
        #header .block-top .navbar-toggle .text {
          display: none; }
        #header .block-top .navbar-toggle .icon-bar {
          width: 24px;
          height: 3px;
          background: #fff; }
      #header .block-top .logo {
        background: url('../../img/logo.mob.png') no-repeat;
        display: block;
        margin-top: 10px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 42px;
        width: 45px;
        text-indent: -9999px; }
      #header .block-top .language {
        float: left;
        margin-top: 12px;
        width: auto;
        display: inline-block; }
    #header #search-box {
      position: relative;
      display: none;
      padding: 5%;
      background: #e5e5e5;
      margin-left: -15px; }
      #header #search-box .box-search {
        position: relative;
        margin: 0 !important;
        width: 100%; }
        #header #search-box .box-search .form-control {
          margin: 0px;
          background: url('../../img/icon-search.png') no-repeat 95% 6px #fff;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0; }
        #header #search-box .box-search input {
          height: 30px;
          font-size: 9px;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border: 1px solid #acacac;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0;
          color: #585858;
          background: #fff;
          padding: 0 25px 0 15px;
          width: 100%;
          text-transform: uppercase; }
          #header #search-box .box-search input:focus {
            border-color: #acacac; }
        #header #search-box .box-search button {
          cursor: pointer;
          height: 12px;
          position: absolute;
          right: 10px;
          top: 7px;
          width: 12px;
          text-indent: -9999px;
          background: none;
          border: none; }
    #header .suggest-box {
      position: relative;
      display: none;
      top: 5px;
      width: 110%;
      height: 190px;
      right: none;
      left: 0;
      background: url('../../img/bg-transparent.png') repeat;
      border: none;
      margin: -5px 0 0 -15px; }
      #header .suggest-box ul li {
        font-size: 100% !important;
        line-height: 1em;
        font-family: 'Conv_GothamRnd-Book'; }
        #header .suggest-box ul li a {
          color: #fff !important; }
    #header .block-nav {
      float: left;
      display: inline-block;
      min-height: 0px;
      padding: 0;
      background: #e41b13;
      margin-bottom: -1px;
      width: auto !important; }
      #header .block-nav .col-xs-12 {
        padding: 0 !important; }
      #header .block-nav ul {
        margin: 10px 0 0 0; }
        #header .block-nav ul li {
          float: left;
          display: block;
          width: 100%;
          padding: 10px 25px; }
          #header .block-nav ul li a {
            color: #fff; } }

@media screen and (min-width:541px) and (max-width:1024px) {
  #header {
    height: 69px;
    min-height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999; }
    #header .container {
      padding-right: 0px;
      /*padding-left:0px;*/ }
    #header .block-top {
      padding: 0;
      border-bottom: none;
      width: 100%; }
      #header .block-top .drop-top {
        background: url('../../img/arrow-dropdown.png') no-repeat 100% center #fff;
        padding-right: 11%;
        line-height: 16px !important; }
        #header .block-top .drop-top:hover, #header .block-top .drop-top:focus {
          background: url('../../img/arrow-dropdown.png') no-repeat 100% center #fff !important; }
      #header .block-top #box-search {
        padding-left: 0px; }
      #header .block-top #box-user {
        float: right;
        margin-right: -15px;
        padding-right: 0px;
        padding-left: 0px; }
      #header .block-top #logo {
        padding-left: 0; }
      #header .block-top #nav-left {
        padding-right: 0; }
      #header .block-top .icon-user, #header .block-top .icon-search {
        width: 100%;
        background: #e5e5e5;
        text-align: center;
        height: 69px;
        line-height: 69px; }
        #header .block-top .icon-user img, #header .block-top .icon-search img {
          border: none;
          max-width: 70%; }
      #header .block-top .icon-search {
        padding: 0; }
      #header .block-top .btn-default {
        border: none;
        text-transform: uppercase;
        color: #000;
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 100%;
        margin-top: 25px; }
        #header .block-top .btn-default:hover, #header .block-top .btn-default:focus {
          background: none; }
      #header .block-top .navbar-toggle {
        float: left;
        background: #e41b13;
        padding: 0 20px;
        height: 69px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0px;
        display: inherit;
        width: 130px;
        display: inherit; }
        #header .block-top .navbar-toggle .icon-bar {
          width: 24px;
          height: 3px;
          background: #fff;
          font-family: 'Conv_GothamRnd-Bold';
          font-size: 120%; }
        #header .block-top .navbar-toggle .text {
          position: absolute;
          right: 20px;
          top: 23px;
          color: #fff;
          text-transform: uppercase; }
      #header .block-top .logo {
        width: 158px;
        height: 33px;
        display: block;
        text-indent: -9999px;
        background: url('../../img/logo.png') no-repeat;
        margin-top: 17px; }
      #header .block-top .language {
        float: left;
        margin-top: 12px;
        width: auto;
        display: inline-block; }
    #header #search-box {
      position: relative;
      display: none;
      padding: 5%;
      background: #e5e5e5;
      margin-left: -15px;
      float: left !important;
      width: 110%; }
      #header #search-box .box-search {
        position: relative;
        margin: 0 !important;
        width: 90%; }
        #header #search-box .box-search .form-control {
          margin: 0px;
          background: url('../../img/icon-search.png') no-repeat 95% 6px #fff;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0; }
        #header #search-box .box-search input {
          height: 30px;
          font-size: 9px;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border: 1px solid #acacac;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0;
          color: #585858;
          background: #fff;
          padding: 0 25px 0 15px;
          width: 100%;
          text-transform: uppercase; }
          #header #search-box .box-search input:focus {
            border-color: #acacac; }
        #header #search-box .box-search button {
          cursor: pointer;
          height: 12px;
          position: absolute;
          right: 10px;
          top: 7px;
          width: 12px;
          text-indent: -9999px;
          background: none;
          border: none; }
    #header .suggest-box {
      position: relative;
      display: none;
      top: 0;
      width: 110%;
      height: 190px;
      right: none;
      left: 0;
      background: url('../../img/bg-transparent.png') repeat;
      border: none;
      margin: -5px 0 0 -15px; }
      #header .suggest-box ul li {
        font-size: 100% !important;
        line-height: 1em;
        font-family: 'Conv_GothamRnd-Book'; }
        #header .suggest-box ul li a {
          color: #fff !important; }
    #header .block-nav {
      width: auto;
      float: left;
      display: inline-block;
      min-height: 0px;
      padding: 0;
      background: #e41b13;
      margin-bottom: -1px; }
      #header .block-nav .col-xs-12 {
        padding: 0 !important; }
      #header .block-nav ul {
        margin: 10px 0 0 0; }
        #header .block-nav ul li {
          float: left;
          display: block;
          width: 100%;
          padding: 10px 25px; }
          #header .block-nav ul li a {
            color: #fff; }
    #header .dropdown-menu {
      left: auto;
      right: 0; } }

@media screen and (min-width : 768px) and (max-width : 1024px) {
  #header {
    height: 69px;
    min-height: 50px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999; }
    #header .container {
      padding-right: 0px;
      /*padding-left:0px;*/ }
    #header .block-top {
      padding: 0;
      border-bottom: none;
      width: 100%; }
      #header .block-top .drop-top {
        background: url('../../img/arrow-dropdown.png') no-repeat 100% center #fff;
        padding-right: 11%;
        line-height: 16px !important; }
        #header .block-top .drop-top:hover, #header .block-top .drop-top:focus {
          background: url('../../img/arrow-dropdown.png') no-repeat 100% center #fff !important; }
      #header .block-top #box-search {
        padding-left: 0px; }
      #header .block-top #box-user {
        float: right;
        margin-right: -15px;
        padding-right: 0px;
        padding-left: 0px; }
      #header .block-top #logo {
        padding-left: 0; }
      #header .block-top #nav-left {
        padding-right: 0; }
      #header .block-top .icon-user, #header .block-top .icon-search {
        width: 100%;
        background: #e5e5e5;
        text-align: center;
        height: 69px; }
        #header .block-top .icon-user img, #header .block-top .icon-search img {
          border: none;
          max-width: 70%; }
      #header .block-top .btn-default {
        border: none;
        text-transform: uppercase;
        color: #000;
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 100%;
        margin-top: 25px; }
        #header .block-top .btn-default:hover, #header .block-top .btn-default:focus {
          background: none; }
      #header .block-top .navbar-toggle {
        float: left;
        background: #e41b13;
        padding: 0 20px;
        height: 69px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0px;
        display: inherit;
        width: 130px;
        display: inherit; }
        #header .block-top .navbar-toggle .icon-bar {
          width: 24px;
          height: 3px;
          background: #fff;
          font-family: 'Conv_GothamRnd-Bold';
          font-size: 120%; }
        #header .block-top .navbar-toggle .text {
          position: absolute;
          right: 20px;
          top: 23px;
          color: #fff;
          text-transform: uppercase; }
      #header .block-top .logo {
        width: 158px;
        height: 33px;
        display: block;
        text-indent: -9999px;
        background: url('../../img/logo.png') no-repeat;
        margin-top: 17px; }
      #header .block-top .language {
        float: left;
        margin-top: 12px;
        width: auto;
        display: inline-block; }
    #header #search-box {
      position: relative;
      display: none;
      padding: 5%;
      background: #e5e5e5;
      margin-left: -15px;
      float: left !important;
      width: 110%; }
      #header #search-box .box-search {
        position: relative;
        margin: 0 !important;
        width: 90%; }
        #header #search-box .box-search .form-control {
          margin: 0px;
          background: url('../../img/icon-search.png') no-repeat 95% 6px #fff;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0; }
        #header #search-box .box-search input {
          height: 30px;
          font-size: 9px;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border: 1px solid #acacac;
          behavior: url(PIE.htc);
          position: relative;
          z-index: 0;
          color: #585858;
          background: #fff;
          padding: 0 25px 0 15px;
          width: 100%;
          text-transform: uppercase; }
          #header #search-box .box-search input:focus {
            border-color: #acacac; }
        #header #search-box .box-search button {
          cursor: pointer;
          height: 12px;
          position: absolute;
          right: 10px;
          top: 7px;
          width: 12px;
          text-indent: -9999px;
          background: none;
          border: none; }
    #header .suggest-box {
      position: relative;
      display: none;
      top: 0;
      width: 110%;
      height: 190px;
      right: none;
      left: 0;
      background: url('../../img/bg-transparent.png') repeat;
      border: none;
      margin: -5px 0 0 -15px; }
      #header .suggest-box ul li {
        font-size: 100% !important;
        line-height: 1em;
        font-family: 'Conv_GothamRnd-Book'; }
        #header .suggest-box ul li a {
          color: #fff !important; }
    #header .block-nav {
      float: left;
      display: inline-block;
      min-height: 0px;
      padding: 0;
      background: #e41b13;
      margin-bottom: -1px;
      width: 110%; }
      #header .block-nav .col-xs-12 {
        padding: 0 !important; }
      #header .block-nav ul {
        margin: 10px 0 0 0; }
        #header .block-nav ul li {
          float: left;
          display: block;
          width: 100%;
          padding: 10px 25px; }
          #header .block-nav ul li a {
            color: #fff; }
    #header .dropdown-menu {
      left: auto;
      right: 0; } }

@media screen and (min-width:541px) and (max-width:999px) {
  .block-nav {
    width: auto !important; } }

@media (max-width: 1024px) {
  .block-nav {
    width: 110%; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url('../../img/loading.gif') 50% 50% no-repeat; }

body.loading {
  overflow: hidden; }

body.loading .modal {
  display: block; }
