/* DRY - DO NOT REPEAT YOURSELF */
.wrapper {
	margin-top: -23px;
	font-size: 14px;
	background-color: #f8f8f8;
}
.wrapper .breadcrumb {
	margin-bottom: 30px;
}
.wrapper .breadcrumb a,
.wrapper .breadcrumb li.active,
.wrapper .breadcrumb li + li:before {
	color: #000;
}
.wrapper .greet,
.wrapper .guide-form {
	margin-bottom: 20px;
}
.greet .main-text h3 {
	font-family: 'Conv_GothamRnd-Bold';
	margin-top: 0px;
	font-size: 34px;
	color: #000;
}
.nav-medium {
	margin: 6px 0;
}
.nav-medium li a {
	font-family: 'Conv_GothamRnd-Bold';
	font-size: 13px;
	color: #B4B4B4;
	text-transform: uppercase;
}
.nav-medium li.active > a, 
.nav-medium li.active > a:hover, 
.nav-medium li.active > a:focus {
	color: #000;
	background-color: transparent;
}
.nav > li > a:hover,
.nav > li > a:focus {
	color: #000;
	background-color: transparent;
}
.form-medium label {
	margin-bottom: 12px;
	font-weight: normal;
}
.form-medium .input-group-addon {
	background-color: #FFF;
}
.form-medium .input-group input {
	border-right: 0;
}
.tv-guide {
	margin-bottom: 100px;
	display: block;
	font-size: 12px;
	font-weight: bold;
}
.tv-guide .day-date {
	padding: 0 30px;
	background-color: #9A9A9A;
}
.day-date .row,
.time .row,
.schedule .row {
	margin: 0;
}
.day-date .row .col-md-1,
.time .row .col-md-2,
.schedule .row [class*="col-"] {
	padding: 0;
}
.day-date .col-md-1 a {
	display: block;
	margin: 0;
	color: #FFF;
	text-align: center;
	padding: 15px 0;
}
.day-date .col-md-1 a:hover,
.day-date .col-md-1 a:focus,
.day-date .col-md-1 .active {
	text-decoration: none;
	background-color: #D7D7D7;
	color: #676767;
}
.tv-guide .time {
	margin-bottom: 20px;
	padding: 25px 0;
	border-bottom: 1px solid #D7D7D7;
	position: relative;
	overflow: hidden;
}
.time p {
	margin: 0;
	padding: 0 10px;
	color: #666666;
	border-left: 2px solid #D7D7D7;
	position: relative;
}
.control {
	display: block;
}
.control nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.control nav ul {
	margin: 0;
}
.control nav .pager li > a, 
.control nav .pager li > span {
	background-color: #E41B13;
	border: 0;
	border-radius: 0;
	color: #FFF;
	line-height: 65px;
	padding: 5px 5px;
}
.control nav .pager li > .pull-left {
	padding-left: 10px;
}
.control nav .pager li > .pull-right {
	padding-right: 10px;
}
.control .table {
	display: table;
	width: 100%;
	height: 100%;
}
.control .table .pager {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.schedule {
	display: block;
}
.schedule .channels .row {
	margin-bottom: 3px;
	/* display: table; */
}
.schedule .channels .row > [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
	border: 1px solid #D7D7D7;
	border-left: 0;
}
.schedule .channels .row > [class*="col-"]:first-child {
	border: 1px solid #D7D7D7;
}
.schedule .channels .row > .active {
	border-bottom: transparent;
}
.schedule .channels .logo {
	width: 100%;
	height: 100%;
}
.schedule .channels .box {
	padding: 10px;
}
.schedule .channels .box p {
	margin: 0;
	line-height: 12px;
}
.schedule .channels .box .title {
	margin-bottom: 5px;
	font-size: 13px;
	color: #e41b13;
}
.schedule .channels .box .time {
	padding: 0;
	border: 0;
	color: #666666;
}
.schedule .channels .now {
	background-color: #D7D7D7;
}
.tv-guide-tab a {
	display: block;
}
.tv-guide-tab a:hover,
.tv-guide-tab a:focus {
	text-decoration: none;
}
.tv-guide-tab .detail {
	display: none;
}
.tv-guide-content .tab-pane {
	margin: -5px 0 5px;
	border: 1px solid #D7D7D7;
	border-top: 0;
	position: relative;
	padding: 25px;
}
.tv-guide-content .close {
	padding: 6px 12px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;
	z-index: 2;
	filter: alpha(opacity=1);
	opacity: 1;
}
.tv-guide-content .close:focus {
	outline: 0;
}
.tv-guide-content .close:active{
	box-shadow: none;
}
.tv-guide-content .media > .pull-left {
	margin-right: 25px;
}
.tv-guide-content .media .media-heading {
	font-size: 16px;
	font-weight: bold;
}
.tv-guide-content .media .title {
	color: #e41b13;
}
.tv-guide-content .media .time {
	margin-bottom: 13px;
	padding: 0; 
	border: 0; 
}
.tv-guide-content .media p {
	font-weight: lighter;
	line-height: 18px;
	color: #666666;
}
.tv-guide-content .media b {
	margin-right: 10px;
}
.tv-guide-content .control .pull-left {
	margin-left: -33px;
}
.tv-guide-content .control .pull-right {
	margin-right: -33px;
}

@media (max-width: 767px) {
	.greet {
		margin-top: 111px
	}
	.tv-guide .time {
		padding: 0;
	}
	/*.schedule .channels .row,
	.channels [class*="col-"] {
		display: block;
	}
	.schedule .channels .row {
		float: left;
	}*/
}


/* Fix Dumb */
.override {
	display: block;
	float: left;
	width: 100%;
}
.override .grey-box {
	float: left;
	width: 100%;
	background-color: #E9E9E9;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 80px;
	padding: 0 15px;
	margin-bottom: 30px;
}
.override #content-support {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #E9E9E9
}
.override #content-support h4,
.override #article-content h4 {
	font-family: 'Conv_GothamRnd-Bold';
	margin: 24px 0 18px;
	color: #000;
	font-weight: bold;
}
.override #content-support .sidebar {
	padding: 0 15px 20px;
}
.override #content-support .sidebar li {
	width: auto;
}
.override #content-support .sidebar a {
	padding: 0 !important;
}
.override #content-support .sidebar p {
	margin-bottom: 0;
}
.override .box-support-feedback .form-horizontal {
	padding: 15px 0;
}
.override .box-support-feedback .form-group {
	margin-bottom: 0;
}
.override .box-support-feedback .form-control,
.override .box-support-feedback .btn {
	margin: 5px 0 !important;
}
.override .box-support-feedback input {
	width: 100% !important;
	padding-top: 6px !important;
}
.override .box-support-feedback button {
	float: left !important;
	width: 100% !important;
	height: 50px !important;
}
.override .box-support-feedback .form-control::-moz-placeholder {
	font-family: 'Conv_GothamRnd-Light';
	color: #A1A1A1 !important;
	opacity: 1 !important;
}
.override .box-support-feedback .form-control:-ms-input-placeholder {
	font-family: 'Conv_GothamRnd-Light';
	color: #A1A1A1 !important;
}
.override .box-support-feedback .form-control::-webkit-input-placeholder {
	font-family: 'Conv_GothamRnd-Light';
	color: #A1A1A1 !important;
}
.override .box-support-feedback .form-control:focus::-webkit-input-placeholder {
	font-family: 'Conv_GothamRnd-Light';
	color: #A1A1A1 !important;
	opacity:0 !important;
}
.override .box-support-feedback .title-ribbon {
	padding: 15px 20px !important;
}
.override .box-support-feedback .box-chat {
	padding-top: 15px !important;
}
.override #article-content {
	margin-top: 0;
}
.override #article-content .sidebar {
	overflow: visible;
	padding: 0;
	border-bottom: 0;
}
.override #form-feedback {
	font-family: 'Conv_GothamRnd-Light' !important;
	font-size: 14px;
}
.override #form-feedback label {
	color: #A1A1A1;
}
.override #form-feedback input {
	color: #000;
}
.override #form-feedback textarea {
	resize: none;
}
.override #form-feedback p {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	margin-bottom: 20px;
} 
.override .nav-tabs,
.override .nav-tabs > li > a,
.override .nav-tabs > li > a:hover {
	border: 0;
	width: auto;
}
.override .nav-tabs > li > a {
	border-radius: 0;
}
.override .nav-tabs > li.active > a {
	background-color: transparent;
	border: 0;
	color: #FFF !important;
	/* Arrow Please*/
	position: relative;
	background: #e41b13;
}
.override .nav-tabs > li.active > a:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(228, 27, 19, 0);
	border-left-color: #e41b13;
	border-width: 20px;
	margin-top: -20px;
}
.override .nav-tabs > li > a:hover {
	color: #000 !important;
	background-image: none !important;
}
.override .nav-tabs > li,
.override .nav-tabs > li > a {
	width: auto !important;
}
.override .nav-tabs > li.active > a {
	color: #FFF !important;
	background: #e41b13 !important;
}
.override #article-content .side-nav ul {
	margin-bottom: 20px;
}



.override .read-more.active {
	background-image: none;
	color: #585858;
	cursor: default;
}
.override .read-more {
	color: #e41b13;
}
.override .read-more:hover,
.override .read-more:focus {
	color: #585858;
}
.override .modal {
	background: rgba(0, 0, 0, 0.5);
}
.override .modal-header {
	padding: 15px 30px;
	background-color: #e41b13;
}
.override .modal-header .close {
	margin-top: -6px;
	font-size: 28px;
	color: #FFF;
	opacity: 1;
	font-weight: normal;
}
.override .modal-title {
	font-family: 'Conv_GothamRnd-Medium';
	font-size: 14px;
	color: #FFF;
}
.override .modal-content {
	border-radius: 0;
}
.override .modal-body {
	padding: 30px;
}
.override .modal-body img {
	margin-bottom: 20px;
}
.override .modal-body b {
	font-family: 'Conv_GothamRnd-Bold';
}



.socials-line {
	position: relative;
}
.socials-line p {
	margin-bottom: 0;
padding: 8px 50px;
}
.socials-line .btn {
	position: absolute;
	right: 2px;
	top: 2px;
}

/* additional philip */
.well-vertical-padding{
	padding: 10px 0;
}

.nav-tabs-custom > li.active > a, .nav-tabs-custom > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: none !Important;
	border: none !important;
}

.nav-tabs-custom > li > a{
	border: none;
	text-transform: uppercase;
	font: 14px 'Conv_GothamRnd-Bold';
	color:#ccc;
}
.nav-tabs-custom .active{
	border-bottom: 2px solid #e41b13 !important;
	border-top: none !Important;
	border-left: none !important;
	border-right: none !important;
}

.tab-content-custom .active{
	border: none !important;
}

.tab-content-custom{
	padding: 32px 0 10px 0;
	font-size: 16px;
}

.form-group-custom input.form-control-custom{
	border: none;
	border-radius: 0;
	width: 100%;
	background: white;
	height: 50px;
	padding-left: 36px;
}

.btn-lg-custom{
    border-radius: 6px;
    font-size: 18px;
    line-height: 36px;
    padding: 6px 20px;
}

.relative{position: relative}

.magnify-icon{
	position: absolute;
	top: 15px;
	left: 10px;
}

/* repeat from page customize css */
.text-uppercase{text-transform: uppercase;}
.less-padding{ padding: 0 !important;}
.less-margin{ margin: 0 !important;}
.well-vertical-margin{margin: 10px 0;}
.well-margin-bottom{margin-bottom: 20px;}
.text-black{color:#000;}
.text-bold{font-weight: bold;}
.text-white{color:#fff;}
.text-line-34{line-height: 34px;}
.text-red{color:#e41b13;}

.large-margin-top{margin-top: 55px;}
.medium-margin-top{margin-top: 25px;}
.medium-margin-right{margin-right: 15px;}
.triple-margin-bottom{margin: 0 0 60px 0;}

.gotham29{font: 29px 'Conv_GothamRnd-Bold'}

@media (min-width : 320px) and (max-width : 480px) {
	.gotham29{
		text-align: center;
		margin: 10px 0;
	}
}