#sites-page {
  padding-bottom: 100px; }
  #sites-page h2 {
    font-family: 'Conv_GothamRnd-Book';
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    color: #e41b13;
    margin: 0 0 15px 0;
    display: block; }
  #sites-page .map {
    height: 300px; }
  #sites-page .nav-logoff {
    margin: 50px 0; }
    #sites-page .nav-logoff li {
      font-size: 16px; }
      #sites-page .nav-logoff li a {
        color: #e41b13; }

.log-left {
  width: 600px; }

.log-right {
  width: 390px; }

.box-right-logged {
  width: 100%;
  padding: 25px 0;
  display: block;
  background: #e9e9e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center; }
  .box-right-logged h4 {
    font-family: 'Conv_GothamRnd-Light' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 15px 0 !important;
    padding: 0; }
  .box-right-logged p {
    margin: 15px 0 0 0;
    font-size: 14px; }
    .box-right-logged p a {
      color: #e41b13; }
  .box-right-logged .btn {
    padding: 8px 30px; }

.box-search-log {
  width: 100%;
  position: relative;
  margin: 50px 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  behavior: url(PIE.htc);
  z-index: 1; }
  .box-search-log p {
    font-family: 'Conv_GothamRnd-Bold';
    font-size: 13px;
    text-transform: uppercase;
    color: #000; }
  .box-search-log .note {
    font-family: 'Conv_GothamRnd-BookIta';
    font-size: 14px;
    color: #000;
    margin-top: 10px; }
  .box-search-log form {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden; }
    .box-search-log form .box-input {
      background: #fff;
      padding: 4px 20px;
      width: 570px;
      float: left;
      display: inline-block;
      margin-right: 30px; }
      .box-search-log form .box-input input {
        background: url(../../img/icon-search-support.png) no-repeat left 10px;
        background-size: 20px;
        padding-left: 50px;
        color: #242424;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Conv_GothamRnd-Book';
        border: none;
        margin-right: 15px;
        padding: 10px 20px 10px 40px;
        width: 100%; }
        .box-search-log form .box-input input:focus {
          outline: none; }
        .box-search-log form .box-input input::-webkit-input-placeholder {
          color: #242424; }
        .box-search-log form .box-input input:-moz-placeholder {
          /* Firefox 18- */
          color: #242424; }
        .box-search-log form .box-input input::-moz-placeholder {
          /* Firefox 19+ */
          color: #242424; }
        .box-search-log form .box-input input:-ms-input-placeholder {
          color: #242424; }
      .box-search-log form .box-input .ui-menu {
        top: 60px !important;
        width: 675px !important;
        left: -10px !important; }
        .box-search-log form .box-input .ui-menu .ui-menu-item a {
          line-height: 24px; }
          .box-search-log form .box-input .ui-menu .ui-menu-item a strong {
            color: #e41b13;
            font-weight: normal; }
      .box-search-log form .box-input .ui-widget-content {
        border: 1px solid #e5e5e5; }
      .box-search-log form .box-input .ui-widget {
        font-size: 16px; }
    .box-search-log form button {
      float: none;
      font-family: 'Conv_GothamRnd-Medium';
      font-size: 14px;
      letter-spacing: 20;
      text-transform: uppercase;
      color: #fff;
      padding: 15px 40px;
      background: #e41b13;
      border: none;
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      behavior: url(PIE.htc); }

.block-title-map {
  width: 100%;
  display: block;
  overflow: hidden; }
  .block-title-map .box-images {
    width: 70px;
    float: left;
    display: inline-block;
    margin-right: 20px; }
    .block-title-map .box-images img {
      max-width: 100%;
      border: none; }
  .block-title-map h3 {
    font-family: 'Conv_GothamRnd-Bold';
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    margin: 0;
    padding: 0; }

.txt-map {
  width: 100%;
  display: block;
  font-size: 15px;
  margin-top: 15px; }

.block-map-button {
  width: 100%;
  display: block;
  margin: 20px 0; }
  .block-map-button a {
    color: #e41b13; }
  .block-map-button .btn {
    color: #fff;
    margin-right: 20px; }
  .block-map-button .btn-red {
    font-size: 12px;
    padding: 8px 30px; }

@media screen and (max-width : 599px) {
  #sites-page {
    padding-bottom: 50px; }
    #sites-page h2 {
      font-size: 2em;
      line-height: 1em; }
    #sites-page p {
      font-size: 0.8em;
      line-height: normal; }
    #sites-page .box-right-logged {
      margin-top: 20px;
      padding: 20px 0; }
      #sites-page .box-right-logged h4 {
        font-size: 1em;
        text-transform: none;
        font-family: 'Conv_GothamRnd-Bold' !important;
        font-weight: normal;
        font-style: normal;
        margin: 0 0 20px 0 !important; }
      #sites-page .box-right-logged .btn-red {
        padding: 10px 0;
        font-size: 0.8em;
        width: 90%;
        margin: 0px auto;
        height: auto; }
      #sites-page .box-right-logged p {
        margin: 20px 0 0 0; }
    #sites-page .box-search-log form .box-input {
      width: 100%;
      padding: 3px 20px;
      margin-right: 0;
      display: block;
      margin-bottom: 20px;
      overflow: hidden; }
      #sites-page .box-search-log form .box-input input {
        font-size: 0.9em;
        background-size: 20px;
        padding: 10px 10px 10px 30px; }
    #sites-page .box-search-log form button {
      font-size: 0.8em;
      padding: 10px 0;
      width: 100%; }
    #sites-page .box-search-log .note {
      font-family: 'Conv_GothamRnd-Book';
      font-weight: normal;
      font-style: normal;
      font-size: 0.8em;
      line-height: normal;
      margin: 0 0 20px;
      width: 100%;
      display: block;
      overflow: hidden; }
    #sites-page .block-title-map {
      padding-top: 50px;
      text-align: center; }
      #sites-page .block-title-map .box-images {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 20px;
        text-align: center; }
        #sites-page .block-title-map .box-images img {
          width: 120px; }
      #sites-page .block-title-map h3 {
        font-size: 1.5em;
        line-height: 1em; }
    #sites-page .txt-map {
      text-align: center; }
      #sites-page .txt-map p {
        font-size: 0.8em; }
    #sites-page .block-map-button {
      text-align: center; }
      #sites-page .block-map-button .btn-red {
        margin-bottom: 10px; } }

@media only screen and (min-width : 600px) and (max-width : 1024px) {
  #sites-page {
    padding-bottom: 50px; }
    #sites-page h2 {
      font-size: 2em;
      line-height: 1em; }
    #sites-page p {
      font-size: 1em;
      line-height: normal; }
    #sites-page .box-right-logged {
      padding: 20px 0; }
      #sites-page .box-right-logged h4 {
        font-size: 1.5em; }
      #sites-page .box-right-logged .btn-red {
        padding: 14px 30px;
        font-size: 0.9em; }
    #sites-page .box-search-log form .box-input {
      width: 55%;
      padding: 3px 20px;
      margin-right: 20px; }
      #sites-page .box-search-log form .box-input input {
        font-size: 1em; }
    #sites-page .box-search-log form button {
      font-size: 0.9em; }
    #sites-page .box-search-log .note {
      font-size: 0.9em;
      line-height: normal; }
    #sites-page .block-title-map .box-images {
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: 10px; }
      #sites-page .block-title-map .box-images img {
        width: 100px; }
    #sites-page .block-title-map h3 {
      font-size: 1.5em;
      line-height: 1em; } }
