/* CSS Customize Page */
input[type="radio"] {
	border: 1px solid #bbb;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 12px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	width: 12px;
	min-width: 12px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);

	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 4px;
	line-height: 10px;

	}

	input[type="radio"]:checked + label:before {
		color: #888;
	}

	input[type="radio"]:disabled,
	input[type="radio"]:disabled:checked:before {
		opacity: 0.7;
	}

	input[type="radio"]:checked:before {
		float: left;
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		font: normal 21px/1 'dashicons';
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	  content: '\2022';
		text-indent: -9999px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		font-size: 24px;
		width: 4px;
		height: 4px;
		margin: 3px;
		line-height: 12px;
		background-color: #e41b13;
	}
	@media screen and (max-width: 599px){
		.btn-lg, .btn-group-lg > .btn {
			padding: 0;
		}
	}

	#customize-content hr{
		width: 100%;
		border-top: 1px solid #e4e4e4;
	}

	#customize-content {
		background: #f8f8f8;
	}
	#customize-content .total-price{
		font-size: 26px; margin-right: 20px;
	}
	@media screen and (max-width: 999px) and (min-width: 501px) {
		#customize-content {
			width: 100%;
			margin-top: 69px;
		}
	}
	@media screen and (max-width: 500px){
		#customize-content {
			width: 100%;
			margin-top: 59px;
			padding-top: 20px;
		}
	}
	@media screen and (max-width: 999px) and (min-width: 501px){
		#customize-content .breadcrumb{
			margin: 0;
		}
	}
	@media screen and (max-width: 500px){
		#customize-content .breadcrumb{
			margin: 0;
		}
	}
	.gotham-bold{
		font-family: 'Conv_GothamRnd-Bold';
	}
	#customize-content h3{
		font-family: inherit; font-size: 45px; color: #e41b13; letter-spacing: -3px;
	}
	.breadcrumb a.red{
		color: #e41b13;
	}
	#customize-content .box-payment{
		margin-top: 60px; padding-top: 20px; padding-bottom: 10px; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; float: left; width: 100%;
	}
	#customize-content .box-payment .small-font{
		font-size: 10px; padding-right: 15px; line-height: 30px; color:#a6a6a6; text-align: right;
	}
	
	.box-paket{
		cursor: pointer;
		border: 2px #e9e9e9 solid; border-radius: 6px;
		padding: 20px; margin-bottom: 40px;
	}
	.box-paket .radioBtn{
		display: none;
	}
	.box-paket .icon-selected{
		position: absolute; top: 0; right: 0;
	}
	.box-paket table{
		font-size: 14px;
	}
	.active{
		border: 2px #e41b13 solid !important;
	}

	/* Misc CSS */
	.hidden{
		display: none;
	}
	.nopad{
		padding-right: 0; padding-left: 0;
	}
	.align-right{
		text-align: right;
	}
	.align-left{
		text-align: left;
	}
	.float-right{
		float: right;
	}
	.float-left{
		float: left;
	}
	.icon-step{
		float: left; margin-right: 15px;
	}
	.box-paket-title{
		font-size: 38px; letter-spacing: -3px; line-height: 30px;
	}
	.box-paket-subtitle{
		color: black; font-size: 14px; line-height: 40px; font-family: 'Conv_GothamRnd-Bold';
	}
	.box-paket-configure{
		margin-top: 25px; padding-left: 0;
	}
	.box-paket-configure p{
		font-size: 12px;
	}
	.box-paket-configure .learn-more a{
		font-size: 11px;
		font-weight: bold;
		color: black;
		letter-spacing: 1px;
	}
	.box-paket-step{
		margin-top: 55px;
	}
	.box-paket-details{
		margin-top: 25px; padding-right: 0;
	}
	.box-paket-details p{
		font-size: 12px;
	}
	.box-paket-details span{
		font-size: 27px;
	}
	.box-paket-details ul li{
		font-size: 12px;
	}
	.box-paket-details span.price{
		color: #e41b13;
		font-size: 30px;
		letter-spacing: -2px;
	}
	.box-paket-2{
		
	}
	.additional-package{
		display: none;
	}
	
	.box-login{
		width: 100%; text-align: right; padding: 20px 80px; border-radius: 6px; background-color: #e9e9e9;
	}
	
	.box-assistance{
		background-color: white; width: 100%; padding: 20px 0 50px 20px; border-radius: 6px;
	}
	.live-chat-assist{
		font-size: 11px; line-height: 14px; padding-left: 10px;
	}
	.call-us-assist{
		font-size: 11px; line-height: 14px;
	}
	.live-chat-assist a{
		color: #585858;
	}
	.call-us-assist a{
		color: #585858;
	}
	
	.title-medium-size{
		font-size: 26px;
	}
	
	/*additional css by philip herlambang*/

.text-uppercase{text-transform: uppercase;}
.less-padding{ padding: 0 !important;}
.less-margin{ margin: 0 !important;}
.well-vertical-margin{margin: 10px 0;}
.well-margin-bottom{margin-bottom: 20px;}
.title-medium-size{font-size: 26px;}
.text-black{color:#000;}


@media only screen and (max-width : 320px) {
	.gotham-bold{
		font-size: 13px;
		text-align: center;
	}
	
	.text-normal{
		text-align: center;
	}
	
	.text-normal-left{
		font-size: 12px;
		line-height: 18px;
	}
	
	#customize-content .box-payment .small-font{
		text-align: center;
	}
	
	#customize-content h3{
		font-size: 36px;
		letter-spacing: -2px;
	}
	
	table.table-spec{
		font-size: 12px;
	}
	
	.box-assistance{
		margin: 0 auto;
		width: 90%;
	}
}