#content-search {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 70px;
  display: block;
  position: relative;
  background: #f8f8f8; }
  #content-search .sidebar {
    float: left;
    width: 100%;
    display: block;
    z-index: 1; }
    #content-search .sidebar strong {
      font-family: 'Conv_GothamRnd-Bold';
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 20px; }
    #content-search .sidebar .txt-keyword {
      font-family: 'Conv_GothamRnd-Book';
      font-size: 14px;
      padding-left: 20px; }
      #content-search .sidebar .txt-keyword .caption {
        width: 100%;
        position: relative;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5; }
      #content-search .sidebar .txt-keyword .detail {
        padding: 10px 0;
        font-size: 14px; }
        #content-search .sidebar .txt-keyword .detail a {
          color: #e41b13;
          text-decoration: underline; }
          #content-search .sidebar .txt-keyword .detail a span {
            float: right;
            color: #585858;
            margin-top: 4px; }
        #content-search .sidebar .txt-keyword .detail.last {
          margin-bottom: 15px; }
          #content-search .sidebar .txt-keyword .detail.last ul {
            margin: 0 0 5px 0;
            padding: 0;
            list-style: none;
            width: 100%;
            position: relative;
            display: block;
            overflow: hidden; }
            #content-search .sidebar .txt-keyword .detail.last ul li {
              float: left;
              display: block;
              width: 100%; }
    #content-search .sidebar .side-nav {
      position: relative;
      display: block;
      z-index: 1;
      margin-bottom: 30px;
      margin-top: 10px; }
      #content-search .sidebar .side-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #content-search .sidebar .side-nav ul li {
          font-family: 'Conv_GothamRnd-Bold';
          font-size: 14px;
          display: block;
          width: 262px;
          padding: 0;
          color: #000; }
          #content-search .sidebar .side-nav ul li a {
            padding: 0 35px 0 20px;
            color: #000;
            line-height: 40px;
            display: block; }
            #content-search .sidebar .side-nav ul li a:hover, #content-search .sidebar .side-nav ul li a.active {
              background: url(../../../img/support-bg-active.png) no-repeat;
              width: 262px;
              color: #fff;
              text-decoration: none; }
            #content-search .sidebar .side-nav ul li a span {
              float: right; }
          #content-search .sidebar .side-nav ul li ul {
            position: relative;
            overflow: hidden;
            margin: 0 0 10px 0;
            padding: 0;
            list-style: none;
            width: 100%;
            display: block; }
            #content-search .sidebar .side-nav ul li ul li {
              width: 100%;
              display: block;
              float: left;
              font-size: 14px;
              line-height: 24px;
              margin-top: 5px;
              padding: 0; }
              #content-search .sidebar .side-nav ul li ul li a {
                font-family: 'Conv_GothamRnd-Book';
                color: #e41b13;
                text-decoration: none;
                line-height: 24px;
                padding: 0 35px 0 20px; }
                #content-search .sidebar .side-nav ul li ul li a:hover {
                  color: #000;
                  background: none; }
  #content-search .side-find {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    color: #acacac;
    padding-left: 20px; }
    #content-search .side-find strong {
      margin-bottom: 25px;
      color: #000; }
    #content-search .side-find .list {
      width: 100%;
      dipslay: block;
      margin-bottom: 40px; }
      #content-search .side-find .list .block-images {
        width: 48px;
        height: 64px;
        float: left;
        display: inline-block;
        margin-right: 15px; }
        #content-search .side-find .list .block-images img {
          width: 48px;
          height: 48px;
          border: none;
          max-width: 100%; }
      #content-search .side-find .list .block-desc h6 {
        font-size: 16px;
        line-height: 18px;
        font-family: 'Conv_GothamRnd-Book';
        color: #acacac;
        margin: 0;
        padding: 0; }
      #content-search .side-find .list .block-desc p {
        font-size: 13px;
        line-height: 18px;
        margin: 5px 0 0 0; }
  #content-search .box-paging {
    font-family: 'Conv_GothamRnd-Book';
    font-size: 14px;
    line-height: 42px;
    margin-top: 10px; }
    #content-search .box-paging.tops {
      margin-top: -50px !important; }
    #content-search .box-paging .pagination.tops {
      margin: 0px !important; }
    #content-search .box-paging .pagination li a {
      color: #e41b13;
      border: none;
      background: none;
      padding: 6px; }
      #content-search .box-paging .pagination li a:hover {
        color: #000;
        text-decoration: none; }
      #content-search .box-paging .pagination li a.active {
        color: #000;
        font-weight: bold; }
  #content-search .box-content {
    background: #fff;
    padding: 40px 30px 70px 35px;
    font-family: 'Conv_GothamRnd-Light';
    font-size: 14px;
    line-height: 21px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(PIE.htc);
    position: relative;
    display: block;
    overflow: hidden; }
    #content-search .box-content h4 {
      margin: 10px 0 15px 0;
      font-size: 26px;
      line-height: 25px;
      color: #000; }
    #content-search .box-content ul li {
      margin: 5px 0; }
    #content-search .box-content .list-item {
      width: 100%;
      position: relative;
      display: block;
      overflow: hidden;
      margin-bottom: 10px;
      margin-top: 20px;
      float: left; }
      #content-search .box-content .list-item.last {
        padding-bottom: 0px;
        border: none;
        margin-bottom: 0px; }
        #content-search .box-content .list-item.last .block-desc {
          border: none; }
      #content-search .box-content .list-item .block-images {
        float: left;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-right: 20px; }
      #content-search .box-content .list-item .block-desc {
        float: right;
        width: 525px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5; }
        #content-search .box-content .list-item .block-desc .desc-url {
          width: 100%;
          display: block;
          position: relative;
          margin-top: 5px;
          color: #e41b13;
          text-decoration: none; }
        #content-search .box-content .list-item .block-desc p {
          margin: 0; }
      #content-search .box-content .list-item .txt-highlight {
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 14px;
        color: #e41b13;
        text-transform: uppercase; }
      #content-search .box-content .list-item h4 {
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 26px;
        line-height: 25px;
        margin: 0 0 5px 0;
        color: #000; }
      #content-search .box-content .list-item h5 {
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 18px;
        line-height: 25px;
        color: #000;
        margin: 0px 0 5px 0;
        text-align: left; }
      #content-search .box-content .list-item .read-more {
        font-family: 'Conv_GothamRnd-Bold';
        color: #585858; }
        #content-search .box-content .list-item .read-more:hover {
          color: #e41b13; }

@media screen and (max-width : 540px) {
  #content-search {
    padding-top: 10%;
    padding-bottom: 15%; }
    #content-search .sidebar {
      width: 100%;
      display: block; }
      #content-search .sidebar strong {
        font-size: 100%;
        line-height: 1em; }
      #content-search .sidebar .txt-keyword {
        padding: 0; }
        #content-search .sidebar .txt-keyword .caption {
          width: 100%;
          font-size: 100%; }
        #content-search .sidebar .txt-keyword .detail {
          float: left;
          display: inline-block;
          width: 52%;
          margin-right: 3%; }
          #content-search .sidebar .txt-keyword .detail a {
            font-size: 100%;
            line-height: 1em; }
          #content-search .sidebar .txt-keyword .detail.last {
            text-align: left;
            margin-right: 0%;
            width: 45%; }
            #content-search .sidebar .txt-keyword .detail.last a {
              float: left;
              display: inline-block;
              margin-right: 15px; }
              #content-search .sidebar .txt-keyword .detail.last a.remove {
                line-height: 14px;
                margin-top: -5px; }
    #content-search .side-find {
      position: relative;
      overflow: hidden;
      margin-top: 10px;
      color: #acacac;
      padding-left: 20px; }
      #content-search .side-find strong {
        margin-bottom: 10%;
        color: #000;
        font-family: 'Conv_GothamRnd-Bold';
        font-size: 140%;
        line-height: 1.3em;
        text-align: center;
        position: relative;
        display: block;
        overflow: hidden;
        padding-right: 15px; }
      #content-search .side-find .list {
        width: 100%;
        dipslay: block;
        margin-bottom: 10%; }
        #content-search .side-find .list .block-images {
          width: 100%;
          height: auto;
          float: none;
          display: block;
          margin-right: 0;
          margin-bottom: 5%;
          text-align: center; }
          #content-search .side-find .list .block-images img {
            width: auto;
            height: auto;
            border: none;
            max-width: 40%; }
        #content-search .side-find .list .block-desc {
          width: 70%;
          margin: 0px auto;
          text-align: center; }
          #content-search .side-find .list .block-desc h6 {
            font-size: 120%;
            line-height: 1em;
            font-family: 'Conv_GothamRnd-Book';
            color: #acacac;
            margin: 0;
            padding: 0; }
          #content-search .side-find .list .block-desc p {
            font-size: 100%;
            line-height: 1.5em;
            margin: 5px 0 0 0; }
    #content-search .col-xs-12.contents {
      padding: 0; }
    #content-search .col-xs-12 .col-xs-12 {
      padding: 0; }
    #content-search .col-xs-12.search-error {
      padding: 0; }
      #content-search .col-xs-12.search-error #tab-search {
        margin-bottom: 5%; }
    #content-search #tab-search {
      width: 100%;
      padding: 5%;
      background: #f0f0f0;
      position: relative;
      display: block; }
      #content-search #tab-search .dropdown-menu {
        min-width: 100%; }
      #content-search #tab-search .caret {
        margin-left: 60%; }
      #content-search #tab-search .btn {
        width: 100%;
        font-size: 120%;
        line-height: 1.5em;
        text-align: left;
        background: url('../../../img/arrow-dropdown.png') no-repeat 95% center #fff;
        padding: 10px 12px;
        border: none; }
    #content-search .box-content {
      background: none;
      padding: 10% 5%;
      font-size: 85%;
      line-height: 1.5em;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px; }
      #content-search .box-content .list-item {
        margin-bottom: 5%;
        margin-top: 5%; }
        #content-search .box-content .list-item.last {
          border: inherit; }
          #content-search .box-content .list-item.last .block-desc {
            border-bottom: 1px solid #e5e5e5; }
        #content-search .box-content .list-item h4 {
          font-size: 130%;
          line-height: 1.2em; }
        #content-search .box-content .list-item h5 {
          font-size: 120%;
          line-height: 1.2em; }
        #content-search .box-content .list-item .block-images {
          width: 25%;
          margin-right: 5%; }
          #content-search .box-content .list-item .block-images img {
            max-width: 100%;
            border: none; }
        #content-search .box-content .list-item .block-desc {
          width: 70%;
          padding-bottom: 5%; }
        #content-search .box-content .list-item .read-more {
          font-size: 90%; }
      #content-search .box-content.errors {
        margin: 0 5% 15% 5%;
        width: 90%;
        background: #fff;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px; }
    #content-search .box-paging {
      margin-top: 0px; }
      #content-search .box-paging.text-right {
        text-align: center; }
      #content-search .box-paging .pagination {
        margin: 0 5%; } }

@media screen and (min-width:541px) and (max-width:1024px) {
  #content-search {
    padding-top: 5%;
    padding-bottom: 0;
    background: #f0f0f0; }
    #content-search .search-error #tab-search {
      padding: 5% 0; }
    #content-search .sidebar {
      width: 100%;
      display: block; }
      #content-search .sidebar strong {
        font-size: 100%;
        line-height: 1em; }
      #content-search .sidebar .txt-keyword {
        padding: 0; }
        #content-search .sidebar .txt-keyword .caption {
          width: 100%;
          font-size: 100%; }
        #content-search .sidebar .txt-keyword .detail {
          float: left;
          display: inline-block;
          width: 47%;
          margin-right: 3%; }
          #content-search .sidebar .txt-keyword .detail a {
            font-size: 100%;
            line-height: 1em; }
          #content-search .sidebar .txt-keyword .detail.last {
            text-align: left;
            margin-right: 0%;
            width: 50%;
            margin-bottom: 20px; }
            #content-search .sidebar .txt-keyword .detail.last a {
              float: left;
              display: inline-block;
              margin-right: 20px; }
              #content-search .sidebar .txt-keyword .detail.last a.remove {
                line-height: 14px;
                margin-top: -4px; }
    #content-search .col-xs-12.contents {
      padding: 0; }
    #content-search .col-xs-12 .col-xs-12 {
      padding: 0; }
    #content-search #tab-search {
      width: 100%;
      padding: 0 0 15px 15px;
      background: #f0f0f0;
      position: relative;
      display: block; }
      #content-search #tab-search .dropdown-menu {
        min-width: 100%; }
      #content-search #tab-search .caret {
        margin-left: 60%; }
      #content-search #tab-search .btn {
        width: 100%;
        font-size: 120%;
        line-height: 1.5em;
        text-align: left;
        background: url('../../../img/arrow-dropdown.png') no-repeat 95% center #fff;
        padding: 10px 12px;
        border: none; }
    #content-search .box-content {
      width: 100%;
      position: relative;
      display: block;
      overflow: hidden;
      background: #f8f8f8;
      padding: 5%;
      font-size: 85%;
      line-height: 1.5em;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px; }
      #content-search .box-content.errors {
        margin-left: -15px;
        width: 110%;
        padding: 5% 3% 15%; }
      #content-search .box-content .list-item {
        margin-bottom: 2%;
        margin-top: 2%; }
        #content-search .box-content .list-item.last {
          border: inherit; }
          #content-search .box-content .list-item.last .block-desc {
            border-bottom: none;
            padding-bottom: 0; }
        #content-search .box-content .list-item h4 {
          font-size: 130%;
          line-height: 1.2em; }
        #content-search .box-content .list-item h5 {
          font-size: 120%;
          line-height: 1.2em; }
        #content-search .box-content .list-item .block-images {
          width: 20%;
          margin-right: 5%; }
          #content-search .box-content .list-item .block-images img {
            max-width: 100%;
            border: none; }
        #content-search .box-content .list-item .block-desc {
          width: 75%;
          padding-bottom: 5%; }
        #content-search .box-content .list-item .read-more {
          font-size: 90%; }
    #content-search .box-paging {
      margin-top: 0px; }
      #content-search .box-paging.tops {
        margin-top: 0 !important;
        background: none !important;
        padding: 1% 2% !important; }
      #content-search .box-paging.text-right {
        text-align: right;
        padding: 3%;
        background: #fff; }
      #content-search .box-paging .pagination {
        margin: 0 5%; } }

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #content-search {
    padding-top: 5%;
    padding-bottom: 0;
    background: #f0f0f0; }
    #content-search .search-error #tab-search {
      padding: 5% 0; }
    #content-search .sidebar {
      width: 100%;
      display: block; }
      #content-search .sidebar strong {
        font-size: 100%;
        line-height: 1em; }
      #content-search .sidebar .txt-keyword {
        padding: 0; }
        #content-search .sidebar .txt-keyword .caption {
          width: 100%;
          font-size: 100%; }
        #content-search .sidebar .txt-keyword .detail {
          float: left;
          display: inline-block;
          width: 47%;
          margin-right: 3%; }
          #content-search .sidebar .txt-keyword .detail a {
            font-size: 100%;
            line-height: 1em; }
          #content-search .sidebar .txt-keyword .detail.last {
            text-align: left;
            margin-right: 0%;
            width: 50%;
            margin-bottom: 20px; }
            #content-search .sidebar .txt-keyword .detail.last a {
              float: left;
              display: inline-block;
              margin-right: 20px; }
              #content-search .sidebar .txt-keyword .detail.last a.remove {
                line-height: 14px;
                margin-top: -4px; }
    #content-search .col-xs-12.contents {
      padding: 0; }
    #content-search .col-xs-12 .col-xs-12 {
      padding: 0; }
    #content-search #tab-search {
      width: 100%;
      padding: 0 0 15px 15px;
      background: #f0f0f0;
      position: relative;
      display: block; }
      #content-search #tab-search .dropdown-menu {
        min-width: 100%; }
      #content-search #tab-search .caret {
        margin-left: 60%; }
      #content-search #tab-search .btn {
        width: 100%;
        font-size: 120%;
        line-height: 1.5em;
        text-align: left;
        background: url('../../../img/arrow-dropdown.png') no-repeat 95% center #fff;
        padding: 10px 12px;
        border: none; }
    #content-search .box-content {
      width: 100%;
      position: relative;
      display: block;
      overflow: hidden;
      background: #f8f8f8;
      padding: 5%;
      font-size: 85%;
      line-height: 1.5em;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px; }
      #content-search .box-content.errors {
        margin-left: -15px;
        width: 110%;
        padding: 5% 3% 15%; }
      #content-search .box-content .list-item {
        margin-bottom: 2%;
        margin-top: 2%; }
        #content-search .box-content .list-item.last {
          border: inherit; }
          #content-search .box-content .list-item.last .block-desc {
            border-bottom: none;
            padding-bottom: 0; }
        #content-search .box-content .list-item h4 {
          font-size: 130%;
          line-height: 1.2em; }
        #content-search .box-content .list-item h5 {
          font-size: 120%;
          line-height: 1.2em; }
        #content-search .box-content .list-item .block-images {
          width: 20%;
          margin-right: 5%; }
          #content-search .box-content .list-item .block-images img {
            max-width: 100%;
            border: none; }
        #content-search .box-content .list-item .block-desc {
          width: 75%;
          padding-bottom: 5%; }
        #content-search .box-content .list-item .read-more {
          font-size: 90%; }
    #content-search .box-paging {
      margin-top: 0px; }
      #content-search .box-paging.tops {
        margin-top: 0 !important;
        background: none !important;
        padding: 1% 2% !important; }
      #content-search .box-paging.text-right {
        text-align: right;
        padding: 3%;
        background: #fff; }
      #content-search .box-paging .pagination {
        margin: 0 5%; } }
